body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

img {
    height: 500px;
    width: 1000px;
}

.yuk-btn{
    margin-top: 20px;
    margin-left: 570px;

    
}

.row.row-cols-1.row-cols-md-2.g-4 {
    padding-top: 55px;
}